h1 {
    color: #ff9940;
}
.header {
    background-color: #005830;
    display: flex;
    justify-content: center;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer {
    display: flex;
    justify-content: flex-end;
}
p,h2 {
    text-align: center;
}
body{
    background-color: #10ff99;
}